@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Playfair+Display');

body {
	font: 1.6em $font-main;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 2em;
	font-weight: bolder;
	font-family: $album-title-heading;
}

#album-title {
	font-family: $album-title-heading;
	font-weight: bolder;
}

#main-page-heading {
	text-align: center;
	margin: 20px;
}
