#album-image {
	width: 100%;
	margin-bottom: 30px;
	#album-image-container {
		position: relative;
		width: 30%;
		@include push--auto;
		p {
			position: absolute;
			top: -30px;
			left: -30px;
			display: inline-block;
			width: 70px;
			height: 70px;
			text-align: center;
			line-height: 70px;
			color: $off-white;
			background-color: $deep-red;
			border-radius: 100%;
		}
		img {
			width: 100%;
		}
	}
}