#artist-list-container {
	.artist-listed {
		background-color: white;
		border-bottom: solid 1px $light-gray;
		padding: 5%;
		overflow: hidden;
		.artist-list-thumbnail {
			float: left;
			margin-right: 5%;
			max-width: 15%;
			img {
				width: 100%;
			}
		}
		h2 {
			float: left;
			line-height: 80px;
		}
	}
}