.cart-list {
	margin-top: 50px;
	li {
		margin-bottom: 30px;
		overflow: hidden;
		.cart-image-container {
			width: 10%;
			float: left;
			margin-right: 20px;
			img {
				width: 100%;
			}
		}
		.cart-actions {
			float: left;
			li {
				margin-bottom: 0;
			}
			span {
				font-size: 1.5em;
			}
		}
	}
}