.cart-list {
	margin-top: 50px;
	background-color: white;
	padding: 5%;
	li {
		padding: 15px 0;
		border-bottom: solid 1px $light-gray;
		overflow: hidden;
		.cart-image-container {
			width: 10%;
			float: left;
			margin-right: 20px;
			img {
				width: 100%;
			}
		}
		.cart-actions {
			float: left;
			li {
				padding: 0;
				border: none;
			}
			span {
				font-size: 1.5em;
			}
		}
	}
}