#navigation {
	overflow: hidden;
	a {
		color: $off-white;
	}
	#home-link {
		display: block;
		float: left;
	}
	#navigation-right {
		position: relative;
		float: right;
		width: 50%;
		li {
			float: right;
			margin-right: 5%;
		}
	}
}