button, #add-to-cart {
	border: none;
	background-color: $dark-gray;
	color: $off-white;
	padding: 20px 50px;
	font-size: 1em;
	font-weight: lighter;
	cursor: pointer;
	border-radius: 5px;
}

#add-to-cart {
	display: block;
	margin-top: 30px;
	padding: 15px 50px;
	width: 100px;
	@include push--auto;
	text-align: center;
}