.form-group {
	input, textarea {
		border: solid 1px $light-gray;
		margin-bottom: 20px;
		padding: 5px;
		width: 95%;
	}
}

.form-control {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	input[type="submit"]{
		width: 100%;
		padding: 10px 0;
		border: none;
		border-radius: 0;
		color: $off-white;
		background-color: $dark-gray;
	}
}

#delete-form {
	width: 0;
	padding: 0;
	background: none;
}