@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Playfair+Display");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 1.6em "Raleway", Helvetica, sans-serif;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  font-weight: bolder;
  font-family: "Playfair Display", Helvetica, sans-serif; }

#album-title {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-weight: bolder; }

#main-page-heading {
  text-align: center;
  margin: 20px; }

html {
  font-size: 62.5%; }

body {
  background-color: #f7f7f7; }

nav {
  color: white; }

a {
  text-decoration: none;
  transition: color 0.2s ease; }
  a:visited {
    color: inherit; }
  a:hover {
    color: #db0a16; }

form {
  position: relative;
  width: 30%;
  padding: 5%;
  background-color: white; }

#navigation {
  overflow: hidden; }
  #navigation a {
    color: #fafff4; }
  #navigation #home-link {
    display: block;
    float: left; }
  #navigation ul {
    float: right;
    width: 50%; }
    #navigation ul li {
      float: right;
      margin-right: 5%; }

#subnavigation {
  padding: 10px;
  color: #2B2C2D; }
  #subnavigation ul {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    overflow: hidden; }
  #subnavigation li {
    float: left;
    padding: 0 10px; }

header {
  padding: 10px;
  background-color: #2B2C2D; }

.container {
  padding: 20px 5%; }

.form-group input, .form-group textarea {
  border: solid 1px #f7f7f7;
  margin-bottom: 20px;
  padding: 5px;
  width: 95%; }

.form-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .form-control input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 0;
    color: #fafff4;
    background-color: #2B2C2D; }

#delete-form {
  width: 0;
  padding: 0;
  background: none; }

#latest-release-container {
  margin-bottom: 50px;
  padding: 5%;
  background-color: white;
  overflow: hidden; }
  #latest-release-container #latest-release-image-container {
    float: left;
    max-width: 30%; }
    #latest-release-container #latest-release-image-container #latest-release-image {
      width: 100%; }
  #latest-release-container #latest-release-info {
    float: left;
    margin-left: 5%; }
    #latest-release-container #latest-release-info h3 {
      margin-bottom: 5px; }

#new-releases-container {
  width: 50%;
  background-color: white; }
  #new-releases-container .new-release-container {
    overflow: hidden;
    padding: 5%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    #new-releases-container .new-release-container .new-release-image-container {
      max-width: 25%;
      float: left;
      margin-right: 5%; }
      #new-releases-container .new-release-container .new-release-image-container .new-release-image {
        width: 100%; }
      #new-releases-container .new-release-container .new-release-image-container .new-release-info {
        float: left; }

#album-image {
  width: 100%;
  height: 400px;
  overflow: hidden; }
  #album-image img {
    display: block;
    margin-left: -2.5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }

#artist-list-container .artist-listed {
  background-color: white;
  border-bottom: solid 1px #f7f7f7;
  padding: 5%;
  overflow: hidden; }
  #artist-list-container .artist-listed .artist-list-thumbnail {
    float: left;
    margin-right: 5%;
    max-width: 15%; }
    #artist-list-container .artist-listed .artist-list-thumbnail img {
      width: 100%; }
  #artist-list-container .artist-listed h2 {
    float: left;
    line-height: 80px; }

/*# sourceMappingURL=app.css.map */
