// colors
$dark-gray: #2B2C2D;
$off-white: #fafff4;

// font families
$font-main: 'Raleway', Helvetica, sans-serif;
$font-heading: 'Monsterrat', Helvetica, sans-serif;

// font sizes
$main-size: 1.6rem;
$heading-size: 2rem;
