// colors
$dark-gray: #2B2C2D;
$off-white: #fafff4;
$light-gray: #f7f7f7;

// font families
$font-main: 'Raleway', Helvetica, sans-serif;
$font-heading: 'Monsterrat', Helvetica, sans-serif;
$album-title-heading: 'Playfair Display', Helvetica, sans-serif;

// font sizes
$main-size: 1.6rem;
$heading-size: 2rem;
